# Результаты тестов
/control/results_*/
/control/fio_results_*/
/fio_log_*.log

# Виртуальное окружение (на MacBook)
/venv/

# Временные и системные файлы
*.tmp
.DS_Store
DC_test_diagram.drawio
.$DC_test_diagram.drawio.bkp
/control/results
/control/fio_log_*
